.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #5C67F2, #3A4AB0);
    
  
    .weather-info {
      margin-top: 20px;
      text-align: center;
    }
  }
  